*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

h1{
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: grey;
  display: flex;
  justify-content: center;
  background-color: black;
  color: blueviolet;
}

.container{
  margin-left: 3em;
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  color: black;
}

.matrix {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: rotateY(180);
}

.matrixactive {
  background-color: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: rotateY(180);
  animation: 2s showMatrix linear;
}

.matrix p{
  transform: scale(0);
}



.matrixactive p{
  transform: scale(1);
}

.stats {
  margin-left: 100px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
}

.stats input{
  width: 200px;
  height: 25px;
  border: 2px solid blueviolet;
  background-color: black;
  color: blueviolet;  
}

.stats h4{
  margin-left: 35px;
}